.player{
    margin: 1rem;
    border: white solid 1px;
    border-radius: 25px;
    background:rgba(252, 252, 252, 0.6)
}

.playerF{
    border: white solid 1px;
    border-radius: 25px;
    background:rgba(252, 252, 252, 0.6)
}

.cont{
    padding-bottom: 2rem;
    min-width: 70vw;
    min-height: 75vh;
    border: white solid 1px;
    border-radius: 25px;
    background:rgba(252, 252, 252, 0.6)
}
.insideCont{
    min-width: 70vw;
}

.songTitle{
    text-align: center;
    margin: 1rem;
    color: black;
    text-transform: uppercase;
}

.songCaption{
    text-align: center;
    margin: 1rem;
    color: black;
}

.audioPlayer{
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.backG{
    background-image: url("https://images.unsplash.com/photo-1560803262-95a9de00a057?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80");
    background-size:cover;
    color: black;
    min-height: 100vh;
}


.spacer{
    font-weight: 600;
}




.fooot{
    width: 100%;
    bottom:auto;
    display: flex;
    align-items: center;
  justify-content: center;


}

.outL{
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.commentCl{
    background:rgba(252, 252, 252, 0.6);
    color: black;
    border: whitesmoke solid 1px;
    
    display: flex;
    align-items: center;
    justify-content: center;

}

.commentCla{
    display: flex;
    flex-direction: row;
    padding: 1rem 1rem 0rem;
}